{##### From the input variables generates a validation file (expected state) used by custom_validate to validate actual state #####}

{##### Used by xxx plugin to validate the fabric on all devices #####}
cmds:
  - show ip ospf neighbors detail:
{% if bse.device_name.spine in inventory_hostname %}
{% for x in groups['leaf'] + groups['border']  %}
      {{ hostvars[x].intf_lp[0].ip |ipaddr('address') }}:
        state: full
{% endfor %} {% else %}
{% for x in groups['spine'] %}
      {{ hostvars[x].intf_lp[0].ip |ipaddr('address') }}:
        state: full
{% endfor %}
{# MLAG peering for leaf and border got based on odd/even hostname and +/- 1 #}
{% if inventory_hostname[-2:]|int is odd %}
      {{ intf_lp[0].ip |ipaddr('address') | ipmath(+1) }}:
        state: full
{% else %}
      {{ intf_lp[0].ip |ipaddr('address') | ipmath(-1) }}:
        state: full
 {% endif %}

  - show port-channel summary:
      {{ fbc.adv.bse_intf.ec_fmt + fbc.adv.mlag.peer_po |string }}:
        oper_status: up
        members:
          _mode: strict
          {{ fbc.adv.bse_intf.intf_fmt + fbc.adv.bse_intf.mlag_peer.split('-')[0] }}:
            flags: P
          {{ fbc.adv.bse_intf.intf_fmt + fbc.adv.bse_intf.mlag_peer.split('-')[1] }}:
            flags: P

  - show vpc:
      vpc_peer_keepalive_status: peer is alive
      vpc_peer_status: peer adjacency formed ok
{% endif %}