{##### From the input variables generates a validation file (expected state) used by custom_validate to validate actual state #####}

{##### Used by xxx plugin to validate the fabric on all devices #####}
cmds:
  - show ip ospf neighbors detail:
{% if bse.device_name.spine in inventory_hostname %}
{% for x in groups[bse.device_name.leaf.split('-')[-1].lower()] + groups[bse.device_name.border.split('-')[-1].lower()] %}
      {{ hostvars[x].intf_lp[0].ip |ipaddr('address') }}:
        state: FULL
{% endfor %} {% else %}
{% for x in groups[bse.device_name.spine.split('-')[-1].lower()] %}
      {{ hostvars[x].intf_lp[0].ip |ipaddr('address') }}:
        state: FULL
{% endfor %}
{# MLAG peering for leaf and border got based on odd/even hostname and +/- 1 #}
{% if inventory_hostname[-2:]|int is odd %}
      {{ intf_lp[0].ip |ipaddr('address') | ipmath(+1) }}:
        state: FULL
{% else %}
      {{ intf_lp[0].ip |ipaddr('address') | ipmath(-1) }}:
        state: FULL
 {% endif %}

  - show port-channel summary:
      {{ fbc.adv.bse_intf.ec_fmt + fbc.adv.mlag.peer_po |string }}:
        oper_status: U
        members:
          _mode: strict
          {{ fbc.adv.bse_intf.intf_fmt + fbc.adv.bse_intf.mlag_peer.split('-')[0] }}:
            mbr_status: P
          {{ fbc.adv.bse_intf.intf_fmt + fbc.adv.bse_intf.mlag_peer.split('-')[1] }}:
            mbr_status: P

  - show vpc:
      vpc_peer_keepalive_status: peer-alive
      vpc_peer_status: peer-ok
{% endif %}