{################################################# Service: Device Ports #################################################}
{% for intf in flt_svc_intf %}
interface {{ intf.intf_num }}
  description {{ intf.descr }}
{% if intf.type == 'layer3' %}
  no switchport
  vrf member {{ intf.tenant }}
  ip address {{ intf.ip_vlan }}
{% else %}
{# Common config for all Layer2 ports #}
  spanning-tree port type {{ intf.stp }}
  !#switchport
{# Layer2 Access port config #}
{% if intf.type == 'access' %}
  switchport access vlan {{ intf.ip_vlan }}
{# Layer2 single-homed access port config #}
{% if intf.dual_homed is sameas false %}
  !#switchport trunk allowed vlan 1-4094
  switchport mode access
{# Layer2 port-channel access port config #}
{% endif %}{% if fbc.adv.bse_intf.ec_fmt in intf.intf_num %}
  !#switchport trunk allowed vlan 1-4094
  switchport mode access
  vpc {{ intf.vpc_num }}
{# Layer2 Trunk port config #}
{% endif %}{% elif 'trunk' in intf.type %}
{% if intf.type == 'non_stp_trunk' %}
  spanning-tree bpduguard enable
{# Layer2 single-homed trunk port config #}
{% endif %}{% if intf.dual_homed is sameas false %}
  switchport trunk allowed vlan {{ intf.ip_vlan  }}
  switchport mode trunk
{# Layer2 port-channel trunk port config #}
{% endif %}{% if fbc.adv.bse_intf.ec_fmt in intf.intf_num %}
  switchport trunk allowed vlan {{ intf.ip_vlan  }}
  switchport mode trunk
  vpc {{ intf.vpc_num }}
{# All Layer2 dual-homed ports #}
{% endif %}{% endif %}{% if intf.dual_homed is sameas true %}
{% if intf.po_mode == 'on' %}
  channel-group {{ intf.po_num }} force
{% else %}
  channel-group {{ intf.po_num }} force mode {{ intf.po_mode }}
{% endif %}{% endif %}{% endif %}
  no shutdown
{% endfor %}
