cmds:
  - show vpc:
      peer-link_po: {{ fbc.adv.bse_intf.ec_short + fbc.adv.mlag.peer_po |string }}
      peer-link_vlans: "1-2,10,20,24,30,40,110,120,210,220,3001-3002"
      vpc_peer_keepalive_status: peer-alive
      vpc_peer_status: peer-ok
{% for intf in flt_svc_intf %}
{% if intf.vpc_num is defined %}
{# Changes long name (port-channel) to short name (Po) #}
      {{ intf.intf_num | replace(fbc.adv.bse_intf.ec_fmt,fbc.adv.bse_intf.ec_short) }}:
        consistency_status: SUCCESS
        port_status: "1"
        vpc_num: "{{ intf.vpc_num }}"
        active_vlans: {{ intf.ip_vlan }}
{% endif %}{% endfor %}
