feature lldp
feature bfd
clock timezone GMT 0 0
clock summer-time BST 5 sun mar 02:00 5 sun oct 02:00 60
feature nv overlay
{# Username and authetication based settings #}
no password strength-check

