{# Managment ACLs, start sequence number has 10 added with each loop iteration #}
{# ip access-list {{ bse.acl.snmp.name }}
{% set seq = namespace(cnt=10) %}
{% for host in bse.acl.snmp.source %}
  {{ seq.cnt }} permit {{ bse.acl.snmp.port[0] }} {{ host }} any eq {{ bse.acl.snmp.port[1] }}
{% set seq.cnt= seq.cnt + 10 %}
{% endfor %}
  {{ seq.cnt }} deny ip any any log
ip access-list {{ bse.acl.ssh.name }}
{% set seq = namespace(cnt=10) %}
{% for host in bse.acl.ssh.source %}
  {{ seq.cnt }} permit {{ bse.acl.ssh.port[0] }} {{ host }} any eq {{ bse.acl.ssh.port[1] }}
{% set seq.cnt= seq.cnt + 10 %}
{% endfor %}
  {{ seq.cnt }} deny ip any any log #}




{# Managment ACLs, start sequence number has 10 added with each loop iteration #}
{% for acl in bse.mgmt_acl: %}
{% set seq = namespace(cnt=10) %}
ip access-list {{ acl.acl_name }}
{% for host in acl.source %}
  {{ seq.cnt }} permit {{ acl.port[0] }} {{ host }} any eq {{ acl.port[1] }}
{% set seq.cnt= seq.cnt + 10 %}
{% endfor %}
  {{ seq.cnt }} deny ip any any log
{% endfor %}

{{ bse.mgmt_acl[0]['acl_name'] }}



{#
name


{% endfor %}  #}
